<%= form_for(@player) do |f| %>
<% if @player.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

	<ul>
		<% @player.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="field">
			<div>
				<%= f.label :first_name %>:
				<br>
			</div>
			<div>
				<%= f.text_field :first_name, :class => 'form-control' %>
			</div>
		</div>
		<div class="field">
			<div>
				<%= f.label :last_name %>:
				<br>
			</div>
			<div>
				<%= f.text_field :last_name , :class => 'form-control'%>
			</div>
		</div>
		<div class="field">
			<div>
				<%= f.label :avatar %>:
				<br>
			</div>
			<div>
				<%= f.file_field :avatar, as: :file, :class => 'form-control' %>
			</div>
		</div>
		<div class="actions">
			<%= f.submit "Save", :class => "btn btn-lg btn-warning" %>
		</div>
	</div>
	<% end %>
	<div class="col-md-2"></div>
</div>
