<div clas="container">
	<h1>Editing player</h1>

	<%= render 'form' %>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">

			<%= link_to 'Show', @player, :class => "btn btn-warning btn-lg" %>
			<%= link_to 'Back', players_path, :class => "btn btn-warning btn-lg" %>
		</div>
		<div class="col-md-2"></div>

	</div>
</div>
