<div class="container">
	<h1>Listing players</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Avatar</th>
				<th>First name</th>
				<th>Last name</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @players.each do |player| %>
			<tr>
				<td><%= image_tag player.avatar.url(:medium), :class => "imgList"%></td>
				<td><%= player.first_name %></td>
				<td><%= player.last_name %></td>
				<td><%= link_to 'Show', player %></td>
				<td><%= link_to 'Edit', edit_player_path(player) %></td>
				<td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<br>

	<%= link_to 'New Player', new_player_path, :class => "btn btn-warning btn-lg" %>
