<h1>Player Rankings</h1>
<div class="container">

	<%= @p %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Player</th>
				<th>Average</th>
				<th>Played matches</th>
				<th>Won matches</th>
				<th>Ranking points</th>
			</tr>
		</thead>

		<tbody>
			<% number = 0 %>
			<% @ranking_array.each do |player| %>
			<% number +=1 %>
			<tr>
				<td> <%= number %></td>
				<td><%= link_to player.last_name, player_path(player.id_player) %></td>
				<td><%= player.average %></td>
				<td><%= player.number_matches  %></td>
				<td><%= player.number_winner_player  %></td>
				<td><%= player.ranking_player  %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

