<div class="container">
	<p id="notice">
		<%= notice %>
	</p>

	<div class="pull-left">
		<%= image_tag @player.avatar.url(:medium) %>
	</div>

	<div class="col-md-8">
		<h2><%= @player.first_name %> <%= @player.last_name %></h2>
	</div>

	<div class="col-md-8">
		<div class="col-md-3">
			<h4>Won:</h4>
		</div>
		<div class="col-md-3">
			<h4><%= @player_winner.size %></h4>
		</div>
	</div>

	<div class="col-md-8">
		<div class="col-md-3">
			<h4>Lost:</h4>
		</div>
		<div class="col-md-3">
			<h4><%= @player_lost.size %></h4>
		</div>

	</div>

	<div class="col-md-8">
		<div class="col-md-3">
			<h4>Average points:</h4>
		</div>
		<div class="col-md-3">
			<h4><%= @player_average %></h4>
		</div>
	</div>

	<div style="clear:both;">
		<h1>Listing matches</h1>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Player</th>
				<th>Opponent</th>
				<th>Date</th>
				<th>Lost points</th>
				<th>Winner</th>

			</tr>
		</thead>

		<tbody>
			<% @player_matches.each do |match| %>
			<tr>
				<td><%= match.player.last_name %></td>
				<td><%= match.next_player.last_name %></td>
				<td><%= match.date %></td>
				<td><%= match.result %></td>
				<td><%= match.winner_player.last_name %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to 'Edit', edit_player_path(@player), :class => "btn btn-warning btn-lg"  %>
	<%= link_to 'Back', players_path, :class => "btn btn-warning btn-lg" %>

</div>
