<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<div class="field">
		<%= f.label "Player" %>
		<br>
		<%= f.text_field :player_id, :class => 'form-control' %>
	</div>
	<div class="field">
		<%= f.label "Opponent" %>
		<br>
		<%= f.text_field :next_player_id, :class => 'form-control' %>
	</div>
	<div class="field">
		<%= f.label :date %>
		<br>
		<%= f.datetime_select :date %>
	</div>
	<div class="field">
		<%= f.label "Lost points" %>
		<br>
		<%= f.text_field :result, :class => 'form-control' %>
	</div>
	<div class="field">
		<%= f.label "Winner" %>
		<br>
		<%= f.text_field :winner_player_id, :class => 'form-control' %>
	</div>
	<div class="actions">
		<%= f.submit "Update Match", :class => "btn btn-lg btn-warning" %>
	</div>
	<% end %>
	</div>
	<div class="col-md-2"></div>
</div>
