<div class="container">
	<h1>Editing match</h1>
	
	<%= render 'form' %>
	
	<%= link_to 'Show', @match, :class => "btn btn-warning btn-lg" %> 
	<%= link_to 'Back', matches_path, :class => "btn btn-warning btn-lg" %>
</div>
