<h1>Listing matches</h1>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Player</th>
				<th>Opponent</th>
				<th>Date</th>
				<th>Lost points</th>
				<th>Winner</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @matches.each do |match| %>
			<tr>
				<td><%= match.player.last_name %></td>
				<td><%= match.next_player.last_name %></td>
				<td><%= match.date %></td>
				<td><%= match.result %></td>
				<td><%= match.winner_player.last_name %></td>
				<td><%= link_to 'Show', match %></td>
				<td><%= link_to 'Edit', edit_match_path(match) %></td>
				<td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<br>
	<%= link_to 'New Match', new_match_path, :class => "btn btn-warning btn-lg" %>

</div>
