<div class="container">
	<h1>New match</h1>

	<%= render 'form' %>
	<div class ="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<%= link_to 'Back', matches_path, :class => "btn btn-warning btn-lg" %>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
