<div class="container">
	<p id="notice">
		<%= notice %>
	</p>
	<h1>Match</h1>

	<div class="row">
		<div class="col-md-4 text-right">
			<h2><%= @match.player.last_name %></h2>
		</div>
		<div class="col-md-4 center">
			<h3>VS</h3>
		</div>
		<div class="col-md-4">
			<h2><%= @match.next_player.last_name %></h2>
		</div>
		<br>
	</div>

	<h3>Winner: <%= @match.winner_player.last_name %></h3>
	<br>

	<h4>Lost points: <%= @match.result %></h4>
	<br>

	<h4><%= @match.date %></h4>
	<br>

	<%= link_to 'Edit', edit_match_path(@match), :class => "btn btn-warning btn-lg" %>
	<%= link_to 'Back', matches_path, :class => "btn btn-warning btn-lg" %>

</div>
