/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	
  	padding: 50px;
  	margin: 50px;
  	font-family: "Ubuntu", sans-serif;
	outline:none;
	text-decoration:none;

}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #e6982e;
}
a {
	text-decoration: none !important;
	
}

table a {
	color: #0B8600 !important;

}
table a:focus{
	color: #faa636 !important;
}
table a:hover{
	color: #faa636 !important;
}

a:hover {
	background: none;

}

/*a:visited {
	color: #fff;
}*/
.imgList {
	height: 100px;
}

