@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-fixed-top {
    background-color: #0B8600 !important;

}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #4eb856;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4eb856;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.table{
  vertical-align: middle !important;
  text-align:center;
  text-decoration: none !important;
  
}

.table td {
   vertical-align: middle !important;
}

.table th{
  background-color:  #e6982e !important;
  color: #fff;
  text-align:center;
  font-size: 15px;
  
}








