<!DOCTYPE html>
<html>
<head>
  <title>FoosballTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <!-- First navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="/">Foosball Tracker</a>
                </div>
                <div>
			        <ul class="nav navbar-nav ">
			        	<li><%= link_to 'Matches', matches_path %></li>
                        <li><%= link_to 'Players', players_path %></li>                    
                    </ul>
         		</div>
            </div>
        </nav>
<%= yield %>

</body>
</html>
